/**overall css**/
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	text-decoration:none;
	list-style:none;
}

.boy{
	background-color: #edf1fe;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}
/**for menu bar**/
nav{
	background-color: orange;
	height:100px;
	width:100%;
	position:relative;
	
}

nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	margin:0px 50px;
	line-height: 80px;
}
nav ul li a{
	color:white;
	font-size:18px;
	font-weight:bold;
	text-transform: uppercase;
}
ul li a:hover{
	color:rgb(7,187,7);
	background-color: white;
	border-radius: 5px;
}
.active, a:hover{
	background-color:white;
	color:red;
	border-radius: 5px;
}
/**for making the hamburger bar**/
.checkbtn{
	font-size:30px;
	color:white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display:none;
}
#check{
	display:none;
}

h1{
	margin:50px 0;
	text-align: center;
	text-transform: capitalize;
	padding:0px;
}
.main{
	height:50vh;
	width: 100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding: 20PX;
}
.main1{
	width: 50%;
	box-sizing: border-box;
	text-align: justify;
	line-height: 1.7;
	background-color: white;
	
}
.main1 h2{
	color:purple;
}
.main1 p{
	
	font-size: 18px;
}
.image{
	width:50%;
	padding:0;
	text-align: center;
}
.image img{
	width:400px;
	height:300px;
	transition: 5s linear;
}
.image a{
	text-align: center;
}
.image img:hover{
	transform:rotate(360deg);
}
.end{
	background-color: brown;
	display: flex;
	padding-top: 10px;
	height: 50px;
	width: 100%;
	margin-top: 50px;
}
.end h3{
	padding-left: 300px;
}
/** index page css end here**/
/** code for protfolio page*/
.moniter{
	background-color: white;
	height: 350px;
	margin-bottom: -30px;
	
}
.moniter div{

	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.num1{
	width:100%;
	height: 300px;
}
.num1 p{
	font-size: 25px;
	text-align: left;
	margin-left: 20px;
}
.num1 h1{
	color: violet;
}
.num{
	background-size: cover;
	width: 100%;
	display: flex;
	margin-bottom: -20px;
	background-color: pink;
	height: 680px;
	margin-top: 30px;
}
.num2 img{

	background-color: purple;
	border-radius: 20px;
	height: 300px;
	width: 200px;
	margin: 20px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
}
.num2 h3{
	margin-left: 90px;
	margin-top: -20px;
}
.num3 img{

	background-color: purple;
	border-radius: 20px;
	height: 300px;
	width: 200px;
	margin: 20px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	margin-top: 340px;
}
.num3 h3{
	margin-left: 90px;
	margin-top: -20px;
}
.num5 img{

	background-color: purple;
	border-radius: 20px;
	height: 300px;
	width: 200px;
	margin: 20px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
	margin-top: 340px;
}
.num5 h3{
	margin-left: 90px;
	margin-top: -20px;
}
.num4 img{

	background-color: purple;
	border-radius: 20px;
	height: 300px;
	width: 200px;
	margin: 20px;
	margin-right: 20px;
	text-align: center;
	cursor: pointer;
}
.num4 h3{
	margin-left: 90px;
	margin-top: -20px;
}
.endss{
	background-color: brown;
	display: flex;
	padding-top: 10px;
	height: 50px;
	width: 100%;
	margin-top: 20px;
}
.endss h3{
	padding-left: 300px;
}
/** protfolio end here**/
/**contact page code startfrom here**/
.container{
	width: 80%;
	margin:50px auto;
}
.container h1{
   color:blue;
   font-weight: bold;
}
.container h4{
   font-size: 18px;
   margin:20px 0;
}
.contact-box{
	background:gray;
	display: flex;
}
.contact-left{
	flex-basis:60%;
	padding:40px 60px;
}
.contact-right{
	flex-basis:40%;
	padding:40px;
	color:#fff;
	background: violet;
}
.container h1{
	margin-bottom: 10px;
	font-weight: bold;
	text-shadow: 1px 1px ;
}
.container h3{
	font-size: 25px;
	margin-bottom: 20px;
}
.right h3{
	font-size:10px;
}
.row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.row .group{
	flex-basis:45%;
}
form{
	background-color: gray;
}
input{
	width: 100%;
	border:none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
textarea{
	width: 100%;
	border:1px solid #ccc;
	outline: none;
	padding: 10px;
}
label{
	margin-bottom: 6px;
	display: block;
	color:white;
}
button{
	background: #1c00b5;
	width: 100px;
	border:none;
	outline: none;
	color:white;
	height:35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
button:hover{
	background-color: yellow;
	color:red;
}
.contact-left h3{
	color:blue;
	font-weight: 600;
	margin-bottom: 30px;
}
.contact-right h3{
	font-weight: bold;
	margin-bottom: 30px;
}
/**contact page code end here**/
/**cv page code start from here**/
.grid-container{
	display: grid;
	grid-gap: 10px;
	padding:10px; 
	background-color: #edf1fe;
}
.grid-container div{
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}
.table1{
	grid-column: 1/7; 
}
.table1 h1{
	color:purple;
	font-size:55px;
	margin-bottom: -20px;
	margin-top: -10px;
	animation:change 5s infinite;
}
@keyframes change{
	50%{
		background-color: red;
	}
}
.table2{
	height: 1010px;
	width: 400px;
	margin-right: -105px;
	background-color: indigo;
}
.table2 img{
	margin-right: 90px;
	border-radius: 100rem;
	width: 100px;
	height: 150px;
}
.table2 h4{
	margin-right: 80px;
	font-size: 30PX;
	color: GOLD;
}
.table2 h6{
	margin-right: 80px;
	margin-top: -30px;
    color:#fff;
}
.table2 h5{
    margin-right: 200px;
    font-size: 18px;
    margin-top: 20px;
    color:#fff;
     border-bottom: 3px solid rgba(255,255,255,0.2);
}
.table2 p{

	text-align: left;
	font-size: 20px;
	margin-left: 20px;
	color:#fff;
}
.table3{
	background-color: white;
	width:640px;
	margin-right: -195px;
}
.table3 h5{
	text-align: left;
	margin-left: 20px;
}
.table3 p{
	text-align: left;
	margin-left: 20px;
	font-size: 18px;
}
.ends{
	background-color: brown;
	display: flex;
	padding-top: 10px;
	height: 50px;
	width: 100%;
}
.ends h3{
	padding-left: 300px;
}
/**cv page code end here**/

.topic h1{
	background-color:lightgreen;
	margin-top: 0px;
	height: 100px;
	padding-top: 30px;
	animation: changes 10s infinite;
}
@keyframes changes{
	50%{
		background-color: skyblue;
	}
}
.para{
	margin-top: -50px;
	background-color: white;
	padding-top:20px; 
}
.para p{
	margin-left: 10px;
	text-align: left;
	margin-right: 10px;
}
.correction{
	width:100%;
	height: 300px;
	margin:50px 0px;
	display: flex;
}
.mistake{
	width: 450px;
	height: 290px;
	margin-left: 10px;
}
.right{
	width: 450px;
	height: 290px;
	margin-left: 20px;
}
.one{
	width:100%;
	height: 310px;
	margin:50px 0px;
	display: flex;
}
.indexcheck{
	width: 450px;
	height: 300px;
	margin-left: 10px;
}
.protfoliocheck{
	width: 450px;
	height: 300px;
	margin-left: 20px;
}
.two{
	width:100%;
	height: 310px;
	margin:50px 0px;
	display: flex;
}
.cvcheck{
	width: 450px;
	height: 300px;
	margin-left: 10px;
}
.contactcheck{
	width: 450px;
	height: 300px;
	margin-left: 20px;
}
.three{
	width:100%;
	height: 310px;
	margin:50px 0px;
	display: flex;
}
.sitereportcheck{
	width: 450px;
	height: 300px;
	margin-left: 10px;
}
.csscheck{
	width: 450px;
	height: 300px;
	margin-left: 20px;
}

@media(max-width: 900px){
	.checkbtn{
		display:block;
		padding-top:30px;
	}
	ul{
		position:fixed;
		width:100%;
		height:750vh;
		background-color:#2c3e50;
		top:80px;
		left:0;
		text-align: center;
		left:-100%;
		transition: .5s all ease-in-out;
		margin-top: 20px;
	}
	nav ul li{
		display:block;
	}
	nav ul li a {
		font-size:20px;
	}
	#check:checked ~ul{
		left:0;
	}

	h1{
		color:#3498db;
	}
	.main{
	display:block;
    }
    .image{
    	width:100%;
    }
    .image img:hover{
	transform:rotate(360deg);
    }
    .main1{
    	width: 100%;
    }
    .image img{
    	width: 100%;
    	height: auto;
    }
    .end{
    	width: 100%;
    	height: auto;
    	margin-top: 400px;
    }
    .end h3{
    	padding-left: 80px;
    }

    .contact-box{
    	display:inline-block;
    	width: 100%;
    }

    .grid-container{
    	display: block;
    	margin-right: 20px;
    	width: 100%;
    }
    .table2{
    	width: 100%;
    	height: 1100px;
    }
    .table2 h4{
    	margin-left: 70px;
    }
    .table2 img{
    	margin-left: 70px;
    }
    .table2 h5{
    	margin-left: 70px;
    }
    .table2 p{
    	margin-left: 70px;
    }
    .table2 h6{
    	margin-left: 70px;
    }
    .table1{
    	width: 100%;
    }
    .table1 h1{
    	font-size: 40px;
    }
    .table3{
    	height: 1200px;
    	width:100%;
    }
    .ends{
    	width: 100%;
    	height: auto;
    }
    .ends h3{
    	padding-left: 80px;
    }

    .endss{
    	width: 100%;
    	height: auto;
    }
    .endss h3{
    	padding-left: 80px;
    }
    .num{
    	display: inline-block;
    	margin-top: 30px;
    	height: 1400px;
    	margin-bottom: -3000px;

    }
    .num1{
    	width: auto;
    	margin-right: 5px;
    }
    .num2 img{
    	margin-left: 60px;
    	margin-top: 20px;

    }
    .num4 img{
    	margin-left: 60px;
    	margin-top: 20px;

    }
    .num5 img{
    	margin-left: 60px;
    	margin-top: 20px;
    }

    .num3 img{
    	margin-left: 60px;
    	margin-top: 20px;

    }

    .moniter{
    	height: 550px;
    }

    .correction{
    	display: inline-block;
    	width: auto;
    }
    .right{
    	margin-left: 10px;
    	width:340px;
    }
    .one{
    	width: auto;
    	display: inline-block;
    }
    .indexcheck{
    	margin-left: 10px;
    	width:340px;
    }
    .protfoliocheck{
    	margin-left: 10px;
    	width:340px;
    }
    .contactcheck{
    	margin-left: 10px;
    	width:340px;
    }
    .csscheck{
    	margin-left: 10px;
    	width:340px;
    }
    .cvcheck{
    	margin-left: 10px;
    	width:340px;
    }
    .sitereportcheck{
    	margin-left: 10px;
    	width:340px;
    }
    .mistake{
    	margin-left: 10px;
    	width:340px;
    }
    .two{
    	display: inline-block;
    	width:auto;
    }
    .three{
    	display: inline-block;
    	width: auto;
    }

@media(max-width: 380px){
	.end{
		width: auto;
	}
	.end h3{
		margin-left: -40px;
	}
	.moniter{
		height: 700px;
	}
	.moniter h1{
		font-size: 50px;

	}
	.endss{
		width: auto;
	}
	.endss h3{
		margin-left: -40px;
	}
	.table2 p{
		font-size: 15px;
    	margin-left: 10px;
    }
    .table2 h5{
    	margin-right:100px;
    }
   .table3 {
   	height: 1600px;
   }
   .table2{
   	height: 1100px;
   }
   .table4 img{
    	background-color: white;
    	width:250px;
    	height: 250px;
    	margin-left: 20px;
    	margin-bottom: -90px;
    	border-radius: 100px;
    }
}
